<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/layout.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/index.css")" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" typ type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            $(".left-nav .in-box").click(function () {
                $(this).siblings('div.in-box').removeClass('in-box-active');
                $(this).addClass('in-box-active');
            });

        });
    </script>
</head>
<body>

    <div class="head-nav">
        <div class="logo-box">口译实训平台LOGO</div>
        <ul class="right-info">
            <li class="li-01">XX高级学院</li>
            <li class="li-02">管理员/老师/学生</li>
            <li class="li-03">SW001</li>
            <li class="li-04"><a href="#">退出</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="left-nav">
            <div class="in-box"><a href="#"><span class="in-sp ico-01">首页<em></em></span></a></div>
            <div class="in-box">
                <span class="in-sp ico-02">实训管理<em></em></span>
                <ul class="ul-in">
                    <li><a href="#">添加考核</a><em></em></li>
                    <li><a href="#">考核管理</a><em></em></li>
                    <li><a href="#">参与考核</a><em></em></li>
                    <li><a href="#">添加练习</a><em></em></li>
                    <li><a href="#">练习管理</a><em></em></li>
                    <li><a href="#">参与练习</a><em></em></li>
                </ul>
            </div>
            <div class="in-box">
                <span class="in-sp ico-03">教务统计<em></em></span>
                <ul class="ul-in">
                    <li><a href="#">实训项目</a><em></em></li>
                    <li><a href="#">实训人员</a><em></em></li>
                </ul>
            </div>
            <div class="in-box">
                <span class="in-sp ico-04">素材管理<em></em></span>
                <ul class="ul-in">
                    <li><a href="#">添加素材 </a><em></em></li>
                    <li><a href="#">我的素材</a><em></em></li>
                    <li><a href="#">他人分享</a><em></em></li>
                    <li><a href="#">所有素材</a><em></em></li>
                </ul>
            </div>
            <div class="in-box">
                <a href="#"><span class="in-sp ico-05">范本管理<em></em></span></a>
            </div>
            <div class="in-box">
                <span class="in-sp ico-06">班级管理<em></em></span>
                <ul class="ul-in">
                    <li><a href="#">添加班级</a><em></em></li>
                    <li><a href="#">班级列表</a><em></em></li>
                    <li><a href="#">添加学生</a><em></em></li>
                    <li><a href="#">学生列表</a><em></em></li>
                    <li><a href="#">添加老师</a><em></em></li>
                    <li><a href="#">老师列表</a><em></em></li>
                </ul>
            </div>
            <div class="in-box">
                <span class="in-sp ico-07">课程管理<em></em></span>
                <ul class="ul-in">
                    <li><a href="#">添加课程</a><em></em></li>
                    <li><a href="#">添加课程</a><em></em></li>
                </ul>
            </div>
            <div class="in-box">
                <span class="in-sp ico-08">个人中心<em></em></span>
                <ul class="ul-in">
                    <li><a href="#">个人信息</a><em></em></li>
                    <li><a href="#">消息管理</a><em></em></li>
                    <li><a href="#">录播设备测试</a><em></em></li>
                </ul>
            </div>
            <div class="in-box">
                <span class="in-sp ico-09">用户管理<em></em></span>
                <ul class="ul-in">
                    <li><a href="#">身份管理</a><em></em></li>
                    <li><a href="#">添加用户</a><em></em></li>
                    <li><a href="#">用户列表</a><em></em></li>
                </ul>
            </div>
        </div>
    </div>
@RenderBody()




</body>
</html>
